[Unit]
Description=gunicorn instance to server api
After=network.target

[Service]
User=eraj
Group=eraj
WorkingDirectory=/home/eraj/app/src/
Environment="PATH=/home/eraj/app/venv/bin"
EnvironmentFile=/home/eraj/.env
ExecStart=/home/eraj/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target